doctype html
html(ng-app='prototype')
  head
    title flexbox layout
    base(href='/')

    include templates/metas
    include templates/styles

  body
    h2 flexbox-layout

    code .layout-row > .flex
    .layout-row.demo
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex

    code .layout-column > .flex
    .layout-column.demo
      div.flex
      div.flex
      div.flex
      div.flex

    code .layout-fullscreen > *
    .layout-fullscreen.layout-centered.demo
      div content
      

