doctype html
html(ng-app='prototype')
  head
    title flexbox layout
    base(href='/')

    include templates/metas
    include templates/styles

  body
    h2 flexbox-layout

    code .layout-row > .flex
    .layout-row.demo
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem

    code .layout-column > .flex
    .layout-column.demo
      div.flex lorem
      div.flex lorem
      div.flex lorem
      div.flex lorem

    code .layout-fullscreen > div
    .layout-fullscreen.layout-centered.demo
      div hello
      

