doctype html
html(ng-app='prototype')
  head
    title flexbox layout
    base(href='/')

    include templates/metas
    include templates/styles

  body
    h2 mn-layout

    code .layout-row > .flex
    .demo.layout-row
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex
      div.flex

    code .layout-column > .flex
    .demo.layout-column(style='height: 40vh')
      div.flex
      div.flex
      div.flex
      div.flex

    code .layout-fullscreen > *
    .demo.layout-fullscreen.layout-centered
      div content
      

