doctype html
html(ng-app='prototype')
  head
    title flexbox layout
    base(href='/')

    include templates/metas
    include templates/styles

  body
    //- h2 mn-layout
    style.
      img {max-width: 100%}

    .layout-fullscreen.layout-centered
      img(src='https://pbs.twimg.com/media/CeKwS_bW8AE8b5G.jpg:large')
      //- .flex: img(src='https://pbs.twimg.com/media/CeKwS_bW8AE8b5G.jpg:large')

    //- code .layout-row > .flex
    //- .demo.layout-row
    //-   div.flex.flex-sm-50.flex-md-90
    //-   div.flex
    //-   div.flex
    //-   div.flex
    //-   div.flex
    //-   div.flex
    //-   div.flex
    //-   div.flex
    //-   div.flex
    //-   div.flex
    //-   div.flex
    //-   div.flex

    //- code .layout-column > .flex
    //- .demo.layout-column(style='height: 40vh')
    //-   div.flex
    //-   div.flex
    //-   div.flex
    //-   div.flex

    //- code .layout-fullscreen > *
    //- .demo.layout-fullscreen.layout-centered
    //-   div content
      

