doctype html
html(ng-app='prototype')
  head
    title Prototype
    base(href="/")

    include templates/metas
    include templates/styles

    style.
      body {
        font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
      }

  body
    h2 flexbox-layout
