.layout-centered {
  align-items: center;
  justify-content: center;

  > * {
    padding: 0 1rem;
  }
}

.align-end {
  justify-content: flex-start;
}

.align-end {
  justify-content: flex-end;
}

.align-center {
  justify-content: center;
  text-align: center;
}
