.mn-layout-container {
  margin-right: auto;
  margin-left: auto;
  padding: 3.8rem .5rem 0;
  width: 100%;
  box-sizing: border-box;


  @media (min-width: 768px) {
    width: calc(100% - 100px);
  }

  @media (min-width: 992px) {
    width: calc(100% - 100px);
  }

  @media (min-width: 1200px) {
    width: 1070px;
  }
}

