.flex {flex: 1; max-width: 100%}
.flex-5 {flex: 0 0 5%; max-width: 5%}
.flex-10 {flex: 0 0 10%; max-width: 10%}
.flex-15 {flex: 0 0 15%; max-width: 15%}
.flex-20 {flex: 0 0 20%; max-width: 20%}
.flex-25 {flex: 0 0 25%; max-width: 25%}
.flex-30 {flex: 0 0 30%; max-width: 30%}
.flex-33 {flex: 0 0 33%; max-width: 33%}
.flex-35 {flex: 0 0 35%; max-width: 35%}
.flex-40 {flex: 0 0 40%; max-width: 40%}
.flex-45 {flex: 0 0 45%; max-width: 45%}
.flex-50 {flex: 0 0 50%; max-width: 50%}
.flex-60 {flex: 0 0 60%; max-width: 60%}
.flex-66 {flex: 0 0 66%; max-width: 66%}
.flex-65 {flex: 0 0 65%; max-width: 65%}
.flex-70 {flex: 0 0 70%; max-width: 70%}
.flex-75 {flex: 0 0 75%; max-width: 75%}
.flex-80 {flex: 0 0 80%; max-width: 80%}
.flex-85 {flex: 0 0 85%; max-width: 85%}
.flex-90 {flex: 0 0 90%; max-width: 90%}
.flex-95 {flex: 0 0 95%; max-width: 95%}

@include layout-sm {
  .flex-sm {flex: 1; max-width: 100%}
  .flex-sm-5 {flex: 0 0 5%; max-width: 5%}
  .flex-sm-10 {flex: 0 0 10%; max-width: 10%}
  .flex-sm-15 {flex: 0 0 15%; max-width: 15%}
  .flex-sm-20 {flex: 0 0 20%; max-width: 20%}
  .flex-sm-25 {flex: 0 0 25%; max-width: 25%}
  .flex-sm-30 {flex: 0 0 30%; max-width: 30%}
  .flex-sm-33 {flex: 0 0 33%; max-width: 33%}
  .flex-sm-35 {flex: 0 0 35%; max-width: 35%}
  .flex-sm-40 {flex: 0 0 40%; max-width: 40%}
  .flex-sm-45 {flex: 0 0 45%; max-width: 45%}
  .flex-sm-50 {flex: 0 0 50%; max-width: 50%}
  .flex-sm-60 {flex: 0 0 60%; max-width: 60%}
  .flex-sm-66 {flex: 0 0 66%; max-width: 66%}
  .flex-sm-65 {flex: 0 0 65%; max-width: 65%}
  .flex-sm-70 {flex: 0 0 70%; max-width: 70%}
  .flex-sm-75 {flex: 0 0 75%; max-width: 75%}
  .flex-sm-80 {flex: 0 0 80%; max-width: 80%}
  .flex-sm-85 {flex: 0 0 85%; max-width: 85%}
  .flex-sm-90 {flex: 0 0 90%; max-width: 90%}
  .flex-sm-95 {flex: 0 0 95%; max-width: 95%}
}

@include layout-md {
  .flex-md {flex: 1; max-width: 100%}
  .flex-md-5 {flex: 0 0 5%; max-width: 5%}
  .flex-md-10 {flex: 0 0 10%; max-width: 10%}
  .flex-md-15 {flex: 0 0 15%; max-width: 15%}
  .flex-md-20 {flex: 0 0 20%; max-width: 20%}
  .flex-md-25 {flex: 0 0 25%; max-width: 25%}
  .flex-md-30 {flex: 0 0 30%; max-width: 30%}
  .flex-md-33 {flex: 0 0 33%; max-width: 33%}
  .flex-md-35 {flex: 0 0 35%; max-width: 35%}
  .flex-md-40 {flex: 0 0 40%; max-width: 40%}
  .flex-md-45 {flex: 0 0 45%; max-width: 45%}
  .flex-md-50 {flex: 0 0 50%; max-width: 50%}
  .flex-md-60 {flex: 0 0 60%; max-width: 60%}
  .flex-md-66 {flex: 0 0 66%; max-width: 66%}
  .flex-md-65 {flex: 0 0 65%; max-width: 65%}
  .flex-md-70 {flex: 0 0 70%; max-width: 70%}
  .flex-md-75 {flex: 0 0 75%; max-width: 75%}
  .flex-md-80 {flex: 0 0 80%; max-width: 80%}
  .flex-md-85 {flex: 0 0 85%; max-width: 85%}
  .flex-md-90 {flex: 0 0 90%; max-width: 90%}
  .flex-md-95 {flex: 0 0 95%; max-width: 95%}
}

@include layout-lg {
  .flex-lg {flex: 1; max-width: 100%}
  .flex-lg-5 {flex: 0 0 5%; max-width: 5%}
  .flex-lg-10 {flex: 0 0 10%; max-width: 10%}
  .flex-lg-15 {flex: 0 0 15%; max-width: 15%}
  .flex-lg-20 {flex: 0 0 20%; max-width: 20%}
  .flex-lg-25 {flex: 0 0 25%; max-width: 25%}
  .flex-lg-30 {flex: 0 0 30%; max-width: 30%}
  .flex-lg-33 {flex: 0 0 33%; max-width: 33%}
  .flex-lg-35 {flex: 0 0 35%; max-width: 35%}
  .flex-lg-40 {flex: 0 0 40%; max-width: 40%}
  .flex-lg-45 {flex: 0 0 45%; max-width: 45%}
  .flex-lg-50 {flex: 0 0 50%; max-width: 50%}
  .flex-lg-60 {flex: 0 0 60%; max-width: 60%}
  .flex-lg-66 {flex: 0 0 66%; max-width: 66%}
  .flex-lg-65 {flex: 0 0 65%; max-width: 65%}
  .flex-lg-70 {flex: 0 0 70%; max-width: 70%}
  .flex-lg-75 {flex: 0 0 75%; max-width: 75%}
  .flex-lg-80 {flex: 0 0 80%; max-width: 80%}
  .flex-lg-85 {flex: 0 0 85%; max-width: 85%}
  .flex-lg-90 {flex: 0 0 90%; max-width: 90%}
  .flex-lg-95 {flex: 0 0 95%; max-width: 95%}
}

@include layout-xl {
  .flex-xl {flex: 1; max-width: 100%}
  .flex-xl-5 {flex: 0 0 5%; max-width: 5%}
  .flex-xl-10 {flex: 0 0 10%; max-width: 10%}
  .flex-xl-15 {flex: 0 0 15%; max-width: 15%}
  .flex-xl-20 {flex: 0 0 20%; max-width: 20%}
  .flex-xl-25 {flex: 0 0 25%; max-width: 25%}
  .flex-xl-30 {flex: 0 0 30%; max-width: 30%}
  .flex-xl-33 {flex: 0 0 33%; max-width: 33%}
  .flex-xl-35 {flex: 0 0 35%; max-width: 35%}
  .flex-xl-40 {flex: 0 0 40%; max-width: 40%}
  .flex-xl-45 {flex: 0 0 45%; max-width: 45%}
  .flex-xl-50 {flex: 0 0 50%; max-width: 50%}
  .flex-xl-60 {flex: 0 0 60%; max-width: 60%}
  .flex-xl-66 {flex: 0 0 66%; max-width: 66%}
  .flex-xl-65 {flex: 0 0 65%; max-width: 65%}
  .flex-xl-70 {flex: 0 0 70%; max-width: 70%}
  .flex-xl-75 {flex: 0 0 75%; max-width: 75%}
  .flex-xl-80 {flex: 0 0 80%; max-width: 80%}
  .flex-xl-85 {flex: 0 0 85%; max-width: 85%}
  .flex-xl-90 {flex: 0 0 90%; max-width: 90%}
  .flex-xl-95 {flex: 0 0 95%; max-width: 95%}
}
