.flex,
.flex-5
.flex-10
.flex-15
.flex-20
.flex-25
.flex-30
.flex-35
.flex-40
.flex-45
.flex-50
.flex-60
.flex-65
.flex-70
.flex-75
.flex-80
.flex-85
.flex-90
.flex-95
.flex-100 {
  flex: auto;
  overflow: auto;
}

.flex-5 {flex-basis: 5%}
.flex-10 {flex-basis: 10%}
.flex-15 {flex-basis: 15%}
.flex-20 {flex-basis: 20%}
.flex-25 {flex-basis: 25%}
.flex-30 {flex-basis: 30%}
.flex-35 {flex-basis: 35%}
.flex-40 {flex-basis: 40%}
.flex-45 {flex-basis: 45%}
.flex-50 {flex-basis: 50%}
.flex-60 {flex-basis: 60%}
.flex-65 {flex-basis: 65%}
.flex-70 {flex-basis: 70%}
.flex-75 {flex-basis: 75%}
.flex-80 {flex-basis: 80%}
.flex-85 {flex-basis: 85%}
.flex-90 {flex-basis: 90%}
.flex-95 {flex-basis: 95%}
.flex-100 {flex-basis: 100%}
