.mn-layout-column,
.mn-layout-row,
.mn-layout-centered,
.mn-layout-sm-row,
.mn-layout-md-row,
.mn-layout-lg-row,
.mn-layout-xs-column,
.mn-layout-sm-column,
.mn-layout-md-column,
.mn-layout-lg-column, {
  display: flex;
  align-content: stretch;
}

.mn-layout-row {
  flex-direction: row;
  align-items: center;
}

.mn-layout-column,
.mn-layout-centered {
  flex-direction: column;
}

@include layout-sm {
  .mn-layout-sm-row {flex-direction: row; align-items: center}
  .mn-layout-sm-column {flex-direction: column}
}

@include layout-md {
  .mn-layout-md-row {flex-direction: row; align-items: center}
  .mn-layout-md-column {flex-direction: column}
}

@include layout-lg {
  .mn-layout-lg-row {flex-direction: row; align-items: center}
  .mn-layout-lg-column {flex-direction: column}
}

@include layout-xl {
  .mn-layout-xl-row {flex-direction: row; align-items: center}
  .mn-layout-xl-column {flex-direction: column}
}

