.layout-fullscreen {
  min-height: 100vh;
  transform: translateZ(0);
  overflow: auto;
  box-sizing: border-box;

  > * {
    padding: 0 1em;
    transform: translateZ(0);
    box-sizing: border-box;
  }
}

.layout-column,
.layout-row,
.layout-centered {
  display: flex;
  align-content: stretch;
}

.layout-column,
.layout-centered {
  flex-direction: column;
}

.layout-row {
  flex-direction: row;
}

.layout-centered {
  align-items: center;
  justify-content: center;

  > * {
    padding: 0 1em;
  }
}

